body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header {
    padding: 0 200px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    height: 72px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    gap: 20px;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    padding: 100px 200px;
    display: flex;
    gap: 80px;  
    background-color: #1F2937;
}

.block {
    width: 500px;
}

.hero-image {
    flex: 1;
}

.primary {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    margin: 10px 0;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-style: none;
    font-size: 16px;
}

.feature-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    text-align: center;
}

.card {
    width: 150px;
    height: 300px;
}
.card-box {
    width: 150px;
    height: 160px;
    border: 5px solid #3882F6;
    border-radius: 15px;
}

.card-text {
    color: #1F2937;
}

.quote-section {
    padding: 100px 305px;
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    text-align: right;
    color: #1F2937;
    font-weight: 600;
    font-size: 20px;
}

.call-section {
    padding: 50px 250px;
}

.call-box {
    padding: 40px 80px;
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.call-text-primary {
    color: #F9FAF8;
    font-weight: 600;
    font-size: 20px;
}

.call-text-secondary {
    color: #E5E7EB;
}

.quote-button {
    border: 2px solid #F9FAF8;
}